{
  "repos": [
    {
      "name": "github/awesome-copilot",
      "branch": "main",
      "assets": {
        "agents": {
          "from": "agents",
          "to": "assets/agents"
        },
        "collections": {
          "from": "collections",
          "to": "assets/collections"
        },
        "instructions": {
          "from": "instructions",
          "to": "assets/instructions"
        },
        "prompts": {
          "from": "prompts",
          "to": "assets/prompts"
        }
      }
    },
    {
      "name": "anthropics/skills",
      "branch": "main",
      "assets": {
        "skills": {
          "from": "skills",
          "to": "assets/skills"
        }
      }
    }
  ]
}
